body {
  font-family: "Roboto", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.service_section {
  padding: 50px 0; /* Adjust the padding as needed */
}

.service_section .box {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.service_section .box .img-box img {
  width: 100%;
  height: auto;
}

.service_section .box .detail-box h6 {
  margin-top: 20px;
}

.service_section .box .detail-box p {
  margin-bottom: 20px;
}

#header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.service_section {
  padding-top: 20px; /* Adjust as needed */
}

/* CSS for marquee */
.marquee {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f07b26;
}

.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .header_section {
  margin-top: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #252525;
}

.header_section .header_top .header_top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_section .header_top .header_top_container .lang_box {
  position: relative;
  display: flex;
  align-items: center;
}

.header_section .header_top .header_top_container .lang_box a {
  margin: 0;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
}

.header_section .header_top .header_top_container .lang_box a img {
  width: 25px;
}

.header_section .header_top .header_top_container .lang_box span {
  color: #ffffff;
  margin-left: 10px;
}

.header_section .header_top .header_top_container .lang_box .dropdown-menu {
  min-width: auto;
  width: auto;
  border-radius: 0;
}

.header_section .header_top .header_top_container .lang_box .dropdown-menu a {
  color: #000000;
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.header_section .header_top .contact_nav {
  display: flex;
}

.header_section .header_top .contact_nav a {
  margin-right: 25px;
  color: #ffffff;
  display: flex;
}

.header_section .header_top .contact_nav a i {
  margin-right: 5px;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f07b26;
}

.header_section .header_top .contact_nav a:hover i {
  color: #252525;
}

.header_section .header_top .social_box {
  display: flex;
}

.header_section .header_top .social_box a i {
  margin-right: 5px;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f07b26;
}

.header_section .header_top .social_box a:hover i {
  color: #252525;
}

.header_section .header_bottom {
  background-color: #ffffff;
  padding: 15px 0;
}

.header_section .header_bottom .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand img {
  width: 125px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 25px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  background-color: #000000;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .nav_search-btn:hover {
  color: #000000;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top
